*{margin:0;padding:0;-webkit-text-size-adjust:none;font-family:微软雅黑;}
body{margin:0 auto;min-width:320px;max-width:640px;height:100%;background:#FFF;font-family:'Helvetica Neue',Helvetica,sans-serif;font-size:14px;line-height:20px;color:#000;-webkit-overflow-scrolling:touch;}
ul{list-style:none;margin:0;padding:0}
li{list-style:none;}
a{color:#555;text-decoration:none;}
img{border:none;}
img{max-width:100%;}
a:active{color:#0062cc;}
h1,h2,h3,h4,h5,h6{line-height:1;margin-top:5px;margin-bottom:5px;}
b,strong{font-weight:700}
p{font-size:14px;margin-top:0;margin-bottom:10px;color:#8f8f94;}
button,html input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clear {clear:both;}
*{-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;outline:0;-webkit-tap-highlight-color:transparent;-webkit-tap-highlight-color:transparent;}
/*主题框架*/
.content{background-color:#fff;-webkit-overflow-scrolling:touch}
.contentNav{padding-top:40px;}  
/*************************首页样式**************************/ 
/*幻灯片*/
.muiSlider{position:relative;overflow:hidden;width:100%}
.muiSlider .muiSliderGroup.muiSliderLoop{-webkit-transform:translate(-100%,0);transform:translate(-100%,0)}
.muiSlider .muiSliderGroup{font-size:0;position:relative;-webkit-transition:all 0s linear;transition:all 0s linear;white-space:nowrap}
.muiSlider .muiSliderGroup .muiSliderItem{font-size:14px;position:relative;display:inline-block;width:100%;height:auto;vertical-align:top;white-space:normal}
.muiSlider .muiSliderGroup .muiSliderItem>a:not(.mui-control-item){line-height:0;position:relative;display:block}
.muiSlider .muiSliderGroup .muiSliderItem img{width:100%}
/*产品-标题*/
.productTitle {background:white;padding:10px 5px;height:auto;border-bottom:1px dashed #dcdcdc;}
.productTitle h3{text-align:left;font-size:16px;}
/*产品-累计*/
.productNumber{background:white;padding:10px 5px;height:40px;border-bottom:1px dashed #dcdcdc}
.productNumberLeft{display:block;float:left}
.productNumberRight{width:120px;height:5px;border:1px solid #be0000;display:block;float:left;margin:7px}
.productNumberSpan{width:97%;height:4px;background:#be0000;display:block;}
/*产品-价格*/
.productTax{background:white;border-bottom:1px dashed #dcdcdc;padding:6px}
.productTimeWrap{float:right;margin-right:0px;margin-top:-30px;color:black;display:inline;}
#timer {font-size:16px;color:#be0000;}
/*产品-注意事项*/
.productProfile{background:white;padding:10px 5px;color:#be0000;min-height:30px}
.productProfile span {display:block;}
/*产品-锚点*/
.productBars{list-style-type:none;background:white;height:40px;width:100%;max-width:640px;border:1px solid #ddd}
.productBars li{line-height:38px;border-right:1px solid #ddd;float:left;cursor:pointer;font-size:12px;text-align:center}
.productBars li:nth-child(1){width:25%}
.productBars li:nth-child(2){width:25%}
.productBars li:nth-child(3){width:25%}
.productBars li:nth-child(4){width:25%}
.productBars li:last-child{border-right:0}
.productBars li a{color:#666;display:block}
.fixed{position:fixed;z-index:999;top:0}
.first.odd p{margin-bottom:0!important}
/*产品-详情*/
.detailBlock p{margin:0;padding:0;color:#666}
.detailBlock p img{vertical-align:middle}
.detailBlock{width:100%;padding:0;margin:0;margin-top:-10px;background:white}
.detailBlock h4{font-size:13px;font-weight:normal;background:#e7e7e7;border-bottom:1px solid #ccc;border-top:1px solid #ccc;line-height:37px;text-align:center}
.detailBlock img{width:100%}
/*产品-评论内容滚动*/
#FontScroll{width:100%;overflow:Hidden;padding:10px;margin:0 auto;height:220px;}
#FontScroll ul li {color:#8f8f94 !important;font-weight:500 !important;margin-bottom:10%;}
#FontScroll .line{text-align:left;width:100%;padding:0;}
#FontScroll .fontColor a{color:red;}
.reviewTitle{}
.reviewTitleLeft{color:#000;margin:0px 3px}
.reviewTitleMiddle{}
.reviewTitleRight{margin-left:3px;font-size:12px}
.reviewMain{margin-top:0px;margin-bottom:10px;font-family:Open Sans;font-size:13px;white-space:normal;background-color:#fff;}
/*产品-弹出评论框*/
#detialContext{margin-top:0}
#detialAppraise{padding-bottom:10px}
#detialAppraise .go-appraise{text-align:center;padding-top:10px}
#detialAppraise .go-appraise a{display:inline-block;background:#be0000;cursor:pointer;font-size:14px;line-height:36px;border-radius:20px;color:#fff;padding:2px 5px;}
.closeBtn{width:24px;height:24px;float:right;cursor:pointer;} 
.commentTable{width:100%;padding:10px 3% 20px;background:#fff;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;}
.commentHd{text-align:center;line-height:36px;font-size:16px;color:#be0000;font-weight:bold;}
.commentTableBox{padding-top:10px;}
.commentTableBox table{width:100%;}
.commentTableBox tr{padding:5px 0;height:40px;}
.commentTableTd{width:26%;font-size:12px;line-height:30px;text-align:right;vertical-align:top;}
.commentTableCell{width:72%;padding-left:1%;}
.textareaStyles{width:95%;text-indent:5px;height:70px;padding:0!important;font-size:12px;line-height:22px;margin-bottom:0px;border:1px solid #dadada !important;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.star {float:left;margin-top:-12px;}
.star span {margin-right:5px;color:#f00;font-size:20px;}
/*评论-图片*/
.z_photo{overflow:auto;clear:both;width:94%;border:1px solid rgba(0,0,0,.2)}
.z_photo img{width:1rem;height:1rem}
.z_addImg{float:left;margin:.1rem}
.z_file{width:.5rem;height:.5rem;background:url(../image/z_add.png) no-repeat;background-size:100% 100%;float:left;margin:.1rem}
.z_file input::-webkit-file-upload-button{width:1rem;height:1rem;border:none;position:absolute;outline:0;opacity:0}
.z_file input#file{display:block;width:auto;border:0;vertical-align:middle}
.z_mask{width:100%;height:100%;background:rgba(0,0,0,.5);position:fixed;top:0;left:0;z-index:999;display:none}
.z_alert{width:3rem;height:2rem;border-radius:.2rem;background:#fff;font-size:.24rem;text-align:center;position:absolute;left:50%;top:50%;margin-left:-1.5rem;margin-top:-2rem}
.z_alert p:nth-child(1){line-height:1.3rem}
.z_alert p:nth-child(2) span{display:inline-block;width:49%;height:.5rem;line-height:.5rem;float:left;border-top:1px solid #ddd}
.z_cancel{border-right:1px solid #ddd}
/*注意事项*/
.infoTable{padding:0px;padding-bottom:40px;}
.dataTable{width:97%;margin:1.5%;font-size:14px;color:#666}
.dataTable th{border:1px solid #ccc;font-weight:100;padding:5px}
.dataTable tr{height:27px}
.dataTable td{padding:10px;border:1px solid #ccc}
/*产品-底部*/
.footerBox{width:100%;background:white;}
.footerBox img{width:100%;} 
.footerBtn{padding:0px;text-align:center;margin-bottom:25px;font-size:12px;} 
.footerBtn a{color:#8f8f94;text-decoration:underline}
/*底部按钮*/
.footBar .purchase img {max-width:30px;margin:12px auto 0px 20%;text-align:right;float:left;width:50%;padding-top:3px;}
.footBar .purchase span {text-align:left;line-height:60px;width:50%;}
.footBar .purchase a {margin:0 auto;text-align:center;font-size:16px;width:100%;}
.footBar {border:none;box-shadow:none;height:auto;padding:10px;padding:1px 2px;background-color:#fdfdfd;width:100%;max-width:640px;min-width:320px;position:fixed;bottom:0px;width:100%;z-index:9999;box-shadow:0px -1px 1px #dad8d8;}
.footBar .service, .query {display:flex;justify-content:center;align-items:center;width:23%;height:56px;border:1px solid rgb(222, 222, 222);text-align:center;float:left;border-radius:4px 4px 4px 4px;}
/*底部按钮-不同分辨率*/
.service a, .query a {color:rgb(221, 45, 151);font-size:14px;}
.query img, .service img {max-width:30px;margin:0px auto;}
.footBar .purchase {float:right;width:60%;height:56px;border:1px solid rgb(222, 222, 222);margin:0;text-align:center;background-color:#be0000;border-radius:4px 4px 4px 4px;}
@-moz-document url-prefix(){.footBar .purchase{width:47%;}}
.footBar .purchase a {font-size:0.22rem;color:rgb(255, 255, 255);}
.footBar .service, .query {width:39.6%;height:56px;border:1px solid rgb(222, 222, 222);text-align:center;float:left;border-radius:4px 4px 4px 4px;}
.service a, .query a {float:left;line-height:18px;color:#000;font-size:14px;width:auto;text-align:center;margin-top:2px;margin-left:6%;}
.query img, .service img {float:left;max-width:30px;margin:0px auto;margin-top:2px;margin-left:0%;margin-right:1px;}
.fot {width:100%;text-align:center;line-height:1.2;padding-top:2px;font-size:12px;}
.footBar .purchase a span {line-height:50px;float:left;font-size:20px;text-align:center;}
@media screen and (max-width:656px){.footBar .purchase {width:60%;height:47px;}.footBar .service, .query {width:39.6%;}.footBar .purchase img{width:28px;height:auto;margin-top:8px;margin-left:7.5%;}.footBar .service img, .query img{width:28px;height:auto;margin-top:0px;}.footBar .service, .query {height:47px;}.footBar .purchase a span {line-height:47px;font-size:14px;width:65%;}.footBar .purchase span {line-height:47px;font-size:20px;}.service a, .query a {float:left;font-size:12px;line-height:16px;}.service a img, .query a img{vertical-align:middle;}.footBar img .purchase img {margin-top:3px;}.query img, .service img {margin-left:2%;}.service a, .query a {margin-left:8%;}.service a, .query a {margin-top:0px;}.fot p {font-size:11px;}.service a, .query a {font-size:6px;}}
.service a, .query a {font-size:10px;}
@media screen and (max-width:320px){.footBar .purchase img{width:24px;height:auto;margin-top:8px;}.footBar .service img, .query img{width:24px;height:auto;margin-top:8px;}.footBar .query {width:27.5%;}.footBar .purchase {width:40%;}.footBar .service {width:31.5%;}.query img, .service img {margin-left:2%;}}  
/*************************订单追踪页面**************************/   
/*订单追踪*/
/*头部*/
.trackFixed{position:fixed;z-index:999;top:0}
.trackFixed{position:fixed;top:0;width:100%;background-color:#fff;max-width:640px;min-width:320px;height:40px}
.trackFixed a{background-image:url(../image/white.png);background-size:30px auto;display:block;width:30px;height:30px;margin:6px 0 0 20px;float:left}
.trackFixed h4{font-size:22px;text-align:center;color:#fff;font-weight:400;line-height:40px;background:#be0000}
.trackFixed h4 span{width:70%;float:left}
.trackFixed h4 img{width:22px;height:auto;vertical-align:middle}
/*输入订单号*/
.trackMain{margin-top:5px;height:auto;background-color:#fff;padding:20px;}
/*输入订单号-标题*/
.trackMainTitle{width:100%;height:40px;line-height:40px;margin:0 auto;background:#fff;color:#000;margin-top:0}
.trackMainTitle p{color:#000;font-size:16px;font-weight:bold;}
.trackMainTitle img{width:34px;height:auto;vertical-align:middle;padding-left:2%;padding-right:1%}
.trackMainTip{color:#39424a;line-height:2}
/*输入订单号*/
#txtkey{font-size:14px}
.trackMain .textbox input{width:78%;height:30px;padding-left:10px;border:1px solid #000;border-radius:2px 2px 2px 2px;float:left}
/*查询按钮*/
#btnQuerys {display:block;width:20%;margin-left:2%;height:30px;float:left;line-height:30px;background-color:#be0000;text-align:center;font-size:14px;color:rgb(255, 255, 255);cursor:pointer;border-radius:4px 4px 4px 4px;}
/*输入订单号-底部说明*/
.bottomTip{padding:0px;padding-bottom:10px;}
.bottomTipImg{width:100%;background:white;}
.bottomTipImg img{width:100%;}
.bottomTipFont{padding:14px 20px 10px 20px;text-align:left;font-size:14px;background-color:#eee;color:#7B7A7A;margin-top:5px;}
.bottomTipNote{line-height:16px}
/*输入订单号-注意事项*/
.showCheck{width:100%;height:auto;margin:0 auto;padding:0 20px 20px 20px;font-size:12px;color:#be0000}
.showCheck table{width:98%;height:auto;text-align:center;font-size:12px;margin:0 auto;border:1px solid #000}
.showCheck table tr{border:1px solid #000}
.showCheck table tr td{border:1px solid #000}   
.top{background-color:#ddd;font-weight:700}
/*输入订单号-底部按钮*/
.trackBtn{width:120px;height:30px;margin:0 auto;background:#be0000;line-height:30px;color:#fff!important;text-align:center;margin-bottom:15px}
.check_show h2{font-size:14px;font-weight:400;line-height:28px;height:auto}
.product_image{margin-top:12px}
.trackFixed h4{margin-top:0}
@-moz-document url-prefix(){.trackMain .textbox input{width:73.5%}}
@media screen and (max-width:656px){@-moz-document url-prefix(){.trackMain .textbox input{width:70%}}}
.trackFixed a{position:absolute}
@media screen and (max-width:656px){}
/*************************订单确认页面**************************/ 
/*订单主体*/
/*产品简介*/
.orderBox{background:white;width:100%;padding:0px;font-size:14px;overflow:auto;}
.orderBox .orderBoxGoods{overflow:auto;padding:10px;background:#f5f5f5;}
.orderBox .orderBoxGoods .i-img{float:left;width:20%;}    
.orderBox .orderInfo{float:left;width:60%;padding:0px 0 0 2%;}
.orderBox .orderInfo h5{color:#444;font-size:14px;text-align:left;font-weight:normal;line-height:21px;}
.orderBox .orderInfo p{color:#999;font-size:12px;text-align:left;line-height:21px;}
.orderBox .orderNum{float:left;width:20%;font-size:15px;text-align:right;}
.orderBox .orderNum span{display:block;}
.orderBox .orderNum .btnDel{padding:2px 15px;margin-top:20px;}    
.price {color:#be0000;}
/*产品规格*/
.productSelect{background:#fff;color:#555;margin:0;}
.productSelect dl{margin:5px;}
.productSelect .productName{font-size:16px;text-align:left;color:#333;font-weight:bold;margin:8px 0px 8px;}
.productSelect .spec-add{width:100%;padding:12px 0px 10px 0px;text-align:center;}
/*产品规格-图片*/
.productImg{width:100%;height:auto;margin:0;padding:0;overflow:hidden;}
.productImg li{width:33%;float:left;position:relative;margin:5px auto;text-align:center;}
.productImg li span{padding:5px;display:block;word-wrap:break-word;white-space:pre-wrap;white-space:-moz-pre-wrap}
.productImg li a{width:80px;padding:1px;border:1px solid #ccc;display:block;margin:0 auto;}
.productImg li a img{display:flex;justify-content:center;align-items:center;margin:0 auto;}
.productImg li a:hover{border:2px solid #be0000;padding:0;text-decoration:none;color:#be0000}
.productImg li.selected a{border:2px solid #be0000;padding:0;color:#be0000}
.productImg li.selected i{display:block;}
/*订单数量*/
.numberBox{float:right;margin:5px 20px 5px 0;position:relative;display:inline-block;overflow:hidden;width:120px;height:35px;padding:0 40px;vertical-align:top;vertical-align:middle;border:solid 1px #bbb;border-radius:3px;background-color:#efeff4;}
.numberBox .mui-numbox-btn-minus {left:0;border-top-left-radius:3px;border-bottom-left-radius:3px;}
.numberBox .mui-numbox-btn-plus {right:0;border-top-right-radius:3px;border-bottom-right-radius:3px;}
.numberBox [class*=mui-numbox-btn] {font-size:18px;font-weight:400;line-height:100%;position:absolute;top:0;overflow:hidden;width:40px;height:100%;padding:0;color:#555;border:none;border-radius:0;background-color:#f9f9f9;}
.numberBox .mui-numbox-input {display:inline-block;overflow:hidden;width:100%!important;height:100%;margin:0;padding:0 3px!important;text-align:center;text-overflow:ellipsis;word-break:normal;border:none!important;border-right:solid 1px #ccc!important;border-left:solid 1px #ccc!important;border-radius:0!important;}
.numberRight{height:45px;background:white;padding-bottom:0px;border-bottom:1px solid #ddd;margin:5px;word-break:break-all;}
.numberLable{margin:8px 18px 0px;font-size:16px;display:inline-block;float:right;}
.require {color:#be0000;}
/*信息表单*/  
.buyInfoTable{width:100%;padding:10px 10px 20px;background:#fff;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;box-sizing:border-box;}
.buyInfoTableBox{padding-top:15px;}
.buyInfoTableBox table{width:100%;}
.buyInfoTableBox tr{padding:5px 0;height:45px;}
.tableTd{width:23%;font-size:12px;line-height:34px;text-align:right;vertical-align:top;font-weight:600;}
.tableCell{width:75%;padding-left:1%;}
.tableCell select{padding:0;text-indent:5px;height:34px;line-height:34px;width:95%;cursor:pointer;border:1px solid #dadada !important;font-size:14px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;margin-right:10px;margin-bottom:15px}
.inputBtn{width:70%;margin:0 auto;border:0;font-size:16px;color:#fff;height:40px;background:#be0000;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.tc{text-align:center;}
.input_btn01{width:50%;margin:0 auto;border:0;margin-top:10px;font-size:16px;color:#fff;line-height:40px;background:#be0000!important;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.input01 {width:95%!important;text-indent:5px;height:34px!important;padding:0!important;line-height:34px;border:1px solid #dadada !important;font-size:14px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.textareaStyle{width:95%!important;margin-bottom:0px;text-indent:5px;height:35px!important;padding:0!important;font-size:14px;line-height:22px!important;border:1px solid #dadada !important;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.buyInfoTableBox i{font-style:normal;color:red;padding:0 2px;}
/*底部说明*/
.line{text-align:right;padding-right:6%;color:#666;font-size:15px;}
.buyinfo_table_red{color:#be0000;}  
.bottomTipNote {padding:10px;line-height:22px;font-size:12px;background:#eee;border-bottom:1px solid #DEDEDE;}
.bottomTipNote a{color:#66C2FF;text-decoration:none;}
/*************************使用规约页面**************************/ 
.termBox{padding:10px;}
.termBox p{font-size:14px;margin-top:0;margin-bottom:10px;color:#8f8f94;}
/*订单结果*/
.pay_content {width:100%;height:auto;overflow:auto;background:#fefefe;margin-top:30px;margin-bottom:20px;}
.pay_image {width:20%;height:auto;float:left;padding-top:6%;margin-left:3%;}
.pay_success {width:75%;float:right;height:auto;}
.succuss_center_a {display:inline-block;width:140px;height:40px;text-align:center;color:#fff;border:0;margin-right:10px;text-decoration:none;background:#be0000;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.succuss_center_b {display:inline-block;width:140px;height:40px;text-align:center;color:#EFF804;border:0;text-decoration:none;background:#be0000;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.mui-bar{margin:0 auto;min-width:320px;max-width:640px;}
